.litebox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    padding-top: 16px;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    .litebox-content {
        background-color: white;

        margin: auto;
        padding: 8px;

        max-width: 80%;

        img {
            max-width: 100%;
        }
    }

    .litebox-exit {
        font-size: 64px;
        text-align: right;

        margin: auto;
        padding: 8px;
        margin-top: -18px;

        width: 80%;

        color: rgba(255, 255, 255, 0.6);

        span {
            cursor: pointer;
        }
    }
}
